a, a:link
  cursor pointer

body
  padding-top 20px

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

footer
  padding-bottom: 30px

.left
  float left
  margin 0 20px 20px 0

.right
  float right
  margin 0 0 20px 20px 