--- yaml
layout: 'default'
title: 'Domů'
---

// Main hero unit - definice VZP
.hero-unit
  h1 Všeobecný Základní Příjem (VZP)
  p
    i První pozitivní vize pro 21. století...
  p
    | příjem vyplácený vládou ve stejné výši a v pravidelných intervalech každému členovi společnosti
    | bez jakýchkoli dalších podmínek jako pracuje-li nebo ne, chudý/bohatý, žije-li sám nebo ne.
    

// FAQ, video, links
.row
  .span6
    h2 Fakta (co nám vlády neřeknou)
    ul
      li Potýkáme se se strukturální (technologickou) nezaměstnaností díky automatizaci výroby. Plná zaměstnanost NENÍ možná.
      li Na dohled není žádné ekonomické řešení roustocí nezaměstnanosti.
      li Pokud není nutné, aby lidé vykonávali zbytečnou nebo nepříjemnou práci, pak by k tomu neměli být nuceni.
      li to, že někdo nepracuje, nemusí být vnímáno jako individuálně i sociálně nežádoucí, pokud dojde k určitým institucionálním a spolčenským změnám.
      
    h2 Často kladené otázky
    ul
      li
        h5 Kde na to vezmeme?
        p Je několik možností: 
        ul
          li zdaněním finančních transakcí a zdanění vysokopříjmových
          li zdanění spotřeby luxusního zboží, a prostředí znečištujících produktů
          li zásadní změna zdanění spotřeby na úkor zdanění práce
          li a hlavně samofinancování, tzn. zjednodušením dlouhatááánského seznamu současných sociálních dávek a přidružených veřejných služeb které již zastarali.
      li
        h5 Kdo bude pracovat, když lidé dostanou VZP?
        p VZP má pokrýt ty nejzákladnější potřeby. Takže pracovat nebude jen ten, komu VZP stačí. 
          | Většina lidí je ale zvyklá na vyšší životní standard než na "živoření a přežívání".
          | Protože už nebude tak velký tlak na zaměstnanost, odpadne tak umělá zaměstnanost, která hodnoty spíš konzumuje.
          | Zároveň se zvýší tlak na zaměstnavatele, který bude muset za nepříjemnou práci nabídnout více. 
          | Nelpším zdrojem odpovědí je <a href="http://www.youtube.com/watch?v=2mP3b86zVvo">VZP-kulturní impulz.</a>
        p Hlavně pak pracují (ve stále větší míře) roboti. Bohuže pro lidi, je zatím jejich práci nikdo nedaní a kdo z toho nejvíce profituje?

      li
        h5 Kolik bude výše VZP?
        p Výše VZP má pokrýt ty nejzákladnější potřeby. V praxi se ale odvíjí od možností ekonomiky.
          | Ale co je podstatné, dá se zavádět postupně. Přesná výše se diskutuje a počítá.

    h2 Iniciativa Evropských občanů za všeobecný základní příjem
    p 
      | V současnosti probíhá celoevropská kampaň za všeobecný základní příjem, která usiluje o projednání VZP na půdě evropské komise.
      | Evropská komise musí projednat náš návrh jakmile dosáhneme 1 milionu požadovaných podpisů. V celé evropě to jistě nebude složité.
      | Musíme postupovat jednotně!
    p: a.btn(href="https://ec.europa.eu/citizens-initiative/REQ-ECI-2012-000028/public/index.do?lang=cs") Podepiš zde
    
  .span6
    <iframe width="500" height="400" src="http://www.youtube.com/embed/DBlVxBEGxtk"></iframe>

    h2 Diskuse o základním příjmu
    ul
      li: a(href='https://forum.pirati.cz/socialni-system-f548/vseobecny-zakladni-prijem-t5205.html') pirátské forum
      li: a(href='https://www.facebook.com/zakladni.prijem') facebooková stránka

    h2 Dokumenty
    ul
      li: a(href='http://www.youtube.com/watch?v=2mP3b86zVvo') všeobecný základní příjem - kulturní impulz (Slovenský dabing)
      li: a(href='http://knihy.heureka.cz/vseobecny-zakladni-prijem-pravo-na-lenost-nebo-na-prez/') všeobecný základní příjem - právo na lenost, nebo přežití?

